defaults:
  - model: finetuning
  - data: default
  - dataset: augmented
  - logging: subsequence
  - lr: pretraining
  - optimizer: default
  - tasks: piano_default
  - _self_

out_dir: 'tmp/checkpoints'
eval_interval: 64
eval_iters: 32
eval_only: false  # if True, script exits right after the first eval
always_save_checkpoint: false  # if True, always save a checkpoint after each eval
init_from: 'midi-gpt2-0M-subsequence-2025-01-29-21-20.pt'  # 'scratch_next_token' or 'midi-gpt2*'
stage: piano_task

loss_masking: finetuning

ddp:
  backend: 'nccl'  # 'nccl', 'gloo', etc.

system:
  device: 'cuda'  # examples: 'cpu', 'cuda', 'cuda:0', 'cuda:1' etc., or try 'mps' on macbooks
  dtype: 'float16'  # 'float32', 'bfloat16', or 'float16', the latter will auto implement a GradScaler
  compile: false  # use PyTorch 2.0 to compile the model to be faster
  data_workers: 8

data:
  batch_size: 4
model:
  n_layer: 1
  n_embd: 16
  n_head: 1

dataset:
  extra_datasets: ["roszcz/maestro-sustain-v2"]
  augmentation:
    max_pitch_shift: 0
    speed_change_factors: []
logging:
  log_interval: 2
