defaults:
  - model: gpt2_small # "gpt2_minimal", "gpt2_medium", "gpt2_large", "gpt2_xl"
  - data: default
  - dataset: augmented
  - logging: subsequence
  - lr: pretraining
  - optimizer: default
  - tokenizer: exponential
  - tasks: denoising
  - _self_

out_dir: 'checkpoints'
eval_interval: 2
eval_iters: 2
eval_only: false  # if True, script exits right after the first eval
always_save_checkpoint: false  # if True, always save a checkpoint after each eval
init_from: 'scratch'  # 'scratch' or 'midi-gpt2*'
task: multi

loss_masking: pretraining

ddp:
  backend: 'nccl'  # 'nccl', 'gloo', etc.

system:
  device: 'cuda'  # examples: 'cpu', 'cuda', 'cuda:0', 'cuda:1' etc., or try 'mps' on macbooks
  dtype: 'float16'  # 'float32', 'bfloat16', or 'float16', the latter will auto implement a GradScaler
  compile: true  # use PyTorch 2.0 to compile the model to be faster
  data_workers: 2

data:
  batch_size: 4
model:
  n_layer: 1
  n_embd: 5
  n_head: 1

dataset:
  extra_datasets: []
  augmentation:
    max_pitch_shift: 0
    speed_change_factors: []
logging:
  log_interval: 2
