defaults:
  - data: default
  - dataset: augmented
  - tasks: subsequence
  - metrics: default
  - logging: eval
  - _self_

eval_iters: 50

dataset:
  extra_datasets: ["epr-labs/maestro-sustain-v2"]
  augmentation:
    max_pitch_shift: 0
    speed_change_factors: []

# Relative path to the model
init_from: ""

stage: piano_task

loss_masking: pretraining
temperature: 1

system:
  device: 'cuda'  # examples: 'cpu', 'cuda', 'cuda:0', 'cuda:1' etc., or try 'mps' on macbooks
  dtype: 'float16'  # 'float32', 'bfloat16', or 'float16', the latter will auto implement a GradScaler
  compile: true  # use PyTorch 2.0 to compile the model to be faster
  data_workers: 8
