defaults:
  - data: default
  - dataset: validation
  - metrics: default
  - _self_

eval_iters: 30

# Available splits: "full_val", "bach", "chopin", "mozart"
eval_splits:
  - full_val

# Relative path to the model
checkpoint_path:

temperature: 1

# TODO This should be in the data config?
loss_masking: pretraining

system:
  device: 'cuda'  # examples: 'cpu', 'cuda', 'cuda:0', 'cuda:1' etc., or try 'mps' on macbooks
  dtype: 'float16'  # 'float32', 'bfloat16', or 'float16', the latter will auto implement a GradScaler
  compile: true  # use PyTorch 2.0 to compile the model to be faster
  data_workers: 8

logging:
  wandb_log: True
  wandb_entity: 'epr-labs'
  wandb_project: 'piano-gpt'
  log_interval: 20
