defaults:
  - model: finetuning
  - data: default
  - dataset: augmented_every
  - logging: subsequence
  - lr: finetuning
  - optimizer: default
  - tasks: all
  - _self_

out_dir: 'tmp/checkpoints'
eval_interval: 500
eval_iters: 100
eval_only: false
always_save_checkpoint: false
init_from: ''
stage: piano_task
loss_masking: finetuning

system:
  device: 'cuda'
  dtype: 'float16'
  compile: true
  data_workers: 64

ddp:
  backend: 'nccl'
