defaults:
  - model: finetuning
  - data: default
  - dataset: augmented_every
  - lr: finetuning
  - optimizer: default
  - tasks: piano_default
  - _self_

out_dir: 'tmp/checkpoints'
eval_interval: 500
eval_iters: 100
eval_only: false
always_save_checkpoint: false
init_from: ''
stage: piano_task
loss_masking: finetuning

system:
  device: 'cuda'
  dtype: 'float16'
  compile: true
  data_workers: 16

ddp:
  backend: 'nccl'

logging:
  wandb_log: True
  wandb_project: 'piano-gpt'
  wandb_time_suffix: ${now:%Y-%m-%d-%H-%M}
  wandb_run_name_suffix: subsequence
  log_interval: 20
