defaults:
  - model: gpt2
  - data: default
  - tokenizer: exponential
  - dataset: tokenized
  - lr: cosine_decay
  - optimizer: default
  - tasks: piano_default
  - _self_

command: init
model_task: next_token_prediction
run_name_suffix: pretraining-${now:%Y-%m-%d-%H-%M}

out_dir: 'tmp/checkpoints'
always_save_checkpoint: false  # if True, always save a checkpoint after each eval

eval_interval: 500
eval_iters: 100

init_from: 'scratch_next_token'  # 'scratch_next_token' or 'midi-gpt2*'
stage: next_token_pretraining
loss_masking: pretraining

ddp:
  # 'nccl', 'gloo', etc.
  backend: 'nccl'

system:
  device: 'cuda'
  # 'float32', 'bfloat16', or 'float16', the latter will auto implement a GradScaler
  dtype: 'float16'
  compile: true
  data_workers: 16

logging:
  wandb_log: True
  wandb_entity: 'epr-labs'
  wandb_project: 'piano-gpt'
  log_interval: 20
