defaults:
  - model: gpt2
  - tokenizer: exponential
  - dataset: small
  - lr: cosine_decay
  - optimizer: default
  - tasks: piano_default
  - _self_

command: init
run_name_suffix: pretraining-${now:%Y-%m-%d-%H-%M}

# This project currently supports tasks:
# - piano_task
# - next_token_prediction (depracated)
model_task: piano_task

out_dir_relative: 'tmp/checkpoints'
# This is filled during runtime
out_dir:

eval_interval: 500
eval_iters: 50

# TODO Split this into training stuff, and music stuff
training:
  prompt_masking: false
  context_size: 1024
  min_n_task_notes: 24
  min_notes_per_record: 64
  max_notes_per_record: 168
  # What you want the model to see
  batch_size: 64
  # What can fit in a single GPU
  microbatch_size: 8
  # This is calculated during runtime accounting in the DDP setup
  gradient_accumulation_steps:

ddp:
  # 'nccl', 'gloo', etc.
  backend: 'nccl'

system:
  device: 'cuda'
  # 'float32', 'bfloat16', or 'float16', the latter will auto implement a GradScaler
  dtype: 'float16'
  compile: true
  data_workers: 16

logging:
  wandb_log: True
  wandb_entity: 'epr-labs'
  wandb_project: 'piano-gpt-mte'
  log_interval: 20
