# config/gpt2_piano.yaml
defaults:
  - model: gpt2_medium
  - data: default
  - tokenizer: exponential
  - dataset: augmented_every
  - logging: pretraining
  - lr: pretraining
  - optimizer: default
  - tasks: all
  - _self_

out_dir: 'tmp/checkpoints'
eval_interval: 500
eval_iters: 100
eval_only: false
always_save_checkpoint: false
init_from: 'scratch'
stage: piano_task
loss_masking: pretrianing

system:
  device: 'cuda'
  dtype: 'float16'
  compile: true
  data_workers: 64

ddp:
  backend: 'nccl'
